body{
    font-family: 'Varela Round', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.video{
    width:100%;

    background-image: url("img/1.jpg");
}

.macaron{
    width:140px;
    height:140px;
    border-radius: 100px 100px;
}

.btn-primary{
    border-radius:0px;
    background-color: #D7C5C5;
}